nav {
  display: block;
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'Bangers', cursive;
}
canvas {
  height: 600px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

body {
  color: white;
}

.canvasEl {
  display: flex;
  justify-content: space-between;
}

.links {
  display: block;
}

img {
  height: 30px;
  width: auto;
}

p {
  color: white;
  font-size: 20px;
}

html {
  background-color: black;
}

.instructions {
  max-width: 40vw;
  font-family: 'Boogaloo', cursive;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 5px 40px 20px 40px;

}
